
@{
}

@inject UserManager<ApplicationUser> UserManager
@model AdvanceViewModel


<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Avans Talep - Onay/Red</h2>
        </div>
    </div>
</div>


<div class="white_shd full margin_bottom_30">
    <div class="full price_table padding_infor_info">
        <div class="details-page">
            @if (Model.Status == "Onaylandı.")
            {
                <form asp-action="UpdateAdvance">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="ApprovalDate" />
                    <input type="hidden" asp-for="Amount" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <input type="hidden" asp-for="AdvanceType" />
                    <input type="hidden" asp-for="Currency" />
                    <input type="hidden" asp-for="RequestDate" />
                    <input type="hidden" asp-for="Description" />
                    <div class="row">
                        <h4>
                            @{
                                var user = await UserManager.FindByIdAsync(Model.EmployeeId);
                                if (user != null)
                                {
                                    <strong>@user.FirstName @(user.MiddleName != null ? user.MiddleName : "") @user.LastName  @(user.MiddleLastName != null ? user.MiddleLastName : "") </strong>
                                }
                            }
                            adlı personelin <strong>@Html.DisplayFor(modelItem => Model.AdvanceType)</strong> avans talebini onaylıyor musunuz?
                        </h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1 me-1">
                            <button type="submit" class="btn btn-primary">Onayla</button>
                        </div>
                        <div class="col-2">
                            <button asp-controller="Employee" asp-action="AdvanceRequests" class="btn btn-secondary">Anasayfa Dön</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <form asp-action="UpdateAdvance">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="ApprovalDate" />
                    <input type="hidden" asp-for="Amount" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <input type="hidden" asp-for="AdvanceType" />
                    <input type="hidden" asp-for="Currency" />
                    <input type="hidden" asp-for="RequestDate" />
                    <input type="hidden" asp-for="Description" />
                    <div class="row">
                        <h4>
                            @{
                                var user = await UserManager.FindByIdAsync(Model.EmployeeId);
                                if (user != null)
                                {
                                    <strong>@user.FirstName @(user.MiddleName != null ? user.MiddleName : "") @user.LastName  @(user.MiddleLastName != null ? user.MiddleLastName : "") </strong>
                                }
                            }
                            adlı personelin <strong>@Html.DisplayFor(modelItem => Model.AdvanceType)</strong> avans talebini reddiyor musunuz?
                        </h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1 me-1">
                            <button type="submit" class="btn btn-primary">Reddet</button>
                        </div>
                        <div class="col-2">
                            <button asp-controller="Employee" asp-action="AdvanceRequests" class="btn btn-secondary">Anasayfa Dön</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>




